/** ---- PERSONALIDADE ---- **/
/* --- HEADER --- */
.header-personalidade {
    @include flexbox(column, flex-end, center);
    background-size: cover;
    padding: 0 2rem;
    color: white;
    min-height: 80vh;
    height: 500px;

    &__titulo {
        text-align: center;
        font-size: 2.6rem;
        text-transform: uppercase;
    }
}
